<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pakistan Technologies APIs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="container">
        <h1>Pakistan Technologies API Endpoints</h1>
        <ol>
            <li>{{BASE_URL}}/<span>api/v1/auth/</span></li>
            <li>{{BASE_URL}}/<span>api/v1/auth/signin</span></li>
            <li>{{BASE_URL}}/<span>api/v1/auth/signup</span></li>
            <li>{{BASE_URL}}/<span>api/v1/users</span></li>
            <li>{{BASE_URL}}/<span>api/v1/products</span></li>
            <li>{{BASE_URL}}/<span>api/v1/products/productId</span></li>
            <li>{{BASE_URL}}/<span>api/v1/products/productId/reviews</span></li>
            <li>{{BASE_URL}}/<span>api/v1/products/productId/QAs</span></li>
            <li>{{BASE_URL}}/<span>api/v1/orders</span></li>
        </ol>
    </div>

</body>

</html>