<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pakistan Technologies APIs</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="container">
      <h1>SoftMind API Endpoints</h1>
      <ol>
        <li>
          <strong>GET</strong> - {{BASE_URL}}/<span>api/v1/auth/</span> <br />➡️
          Get a logged in User via Cookie
        </li>

        <li>
          <strong>POST</strong> - {{BASE_URL}}/<span>api/v1/auth/login</span>
          <br />➡️ Authenticate a user and return a token.
        </li>

        <li>
          <strong>POST</strong> - {{BASE_URL}}/<span>api/v1/auth/logout</span>
          <br />➡️ Log out a user and invalidate the token.
        </li>

        <li>
          <strong>GET</strong> - {{BASE_URL}}/<span>api/v1/users</span> <br />➡️
          Retrieve a list of all users.
        </li>

        <li>
          <strong>POST</strong> - {{BASE_URL}}/<span>api/v1/users</span>
          <br />➡️ Create a User or an Admin
        </li>

        <li>
          <strong>POST</strong> - {{BASE_URL}}/<span
            >api/v1/users/create-super-admin</span
          >
          <br />➡️ To Create a Super Admin
        </li>

        <li>
          <strong>GET</strong> - {{BASE_URL}}/<span>api/v1/posts</span> <br />➡️
          To get all Post
        </li>

        <li>
          <strong>POST</strong> - {{BASE_URL}}/<span>api/v1/posts</span>
          <br />➡️ To Create a Post
        </li>

        <li>
          <strong>GET</strong> - {{BASE_URL}}/<span>api/v1/posts/user/:userId</span>
          <br />➡️ To Get Posts posted by a Specific user
        </li>
      </ol>
    </div>
  </body>
</html>
